body{
	color: #737373;
font-family: 'Open Sans',Tahoma,Arial,helvetica,sans-serif;
font-size: 14px;
line-height: 1.6em;
font-weight: 400;
}
.header-top{
	padding: 10px 0px;
	background: #4d4d4d;
}
.fb-h{
	background-image: url("../images/oneclifb.png");
	background-position: center center;
	width: 51px;
	height: 21px;
	display: inline-block;
	 transition: all 0.5s ease;
}
.fb{
	vertical-align: middle;

}
.fb:hover{
	cursor: pointer;
}
.fb-t{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #7f7f7f;
	margin-left: 5px;
	height: 21px;
	vertical-align: middle;
}
.fb:hover .fb-h{
	background-image: url("../images/oneclifbhover.png");
}
.container{
	width: 1170px;
}
.navbar{
	margin-bottom: 0px;
	min-height: 35px;
}
.menu-bar{
	border-bottom: 2px solid #ed8323;
}
.navbar-nav > li > a{
	padding-top: 12px;
	padding-bottom: 10px;
	line-height: 15px;
	display: block;
	font-size: 13.5px;
	text-transform: uppercase;
	font-family: 'Roboto',arial,helvetica,sans-serif;
	color: #737373;
}
.navbar-nav > li:first-child > a{
	padding-left: 0px;
}
.hd-type-1{
	margin: 20px 0px;
	font-family: 'Roboto',arial,helvetica,sans-serif;
	font-weight: 300;
	color: #565656;
	line-height: 1;
	text-align: center;
	margin-bottom: 25px;
}
.sub-hd-1{
	margin: 0px;
	font-size: 30px;
	color: #565656;
	text-align: center;
	margin-bottom: 20px;
}
.img-bx img{
	max-width: 100%;
	display: block;
	border-bottom: 2px solid #ed8323;
	margin-bottom: 20px;
}
.prd-name{
	color: #565656;	
	font-family: 'Roboto',arial,helvetica,sans-serif;
	font-weight: 300;
	color: #565656;
	line-height: 1.2;
	font-size: 20px;
	display: block;
	margin-bottom: 15px;
}
.cmnt-lnk{
	margin-bottom: 15px;
}
.abt-prd{
	margin-bottom: 15px;
}
.btn-primary{
	background: #ed8323;
	border: none;
}
.read-wrp{
	text-align: right;
}
.prd-wrp{
	margin-bottom: 20px;
}
.wrp-tags ul{
	list-style: none;
	padding: 0;
	margin: 0px;
	padding-left: 10px;
}
.wrp-tags ul li{
	margin-bottom: 5px;
	display: block;
}
.wrp-tags ul li a{
	padding: 5px;
	position: relative;
	color: #565656;
	text-decoration: none;
}
.wrp-tags ul li a:hover{
	color: #ed8323;
}
.wrp-tags ul li a:hover:after{
	content: "";
	background: #ed8323;
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	top: 100%;
}
#menu{
	position: fixed;
	width: 100%;
	top: 0px;
	left: opx;
	z-index: 99;
}
.menu-bar{
	background: #ffffff;
}
.interactive{
	display: none;
}
.js .interactive{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background:#4d4d4d url("../images/logo.png") center center no-repeat;
	overflow: hidden;
	z-index: 999; 
}
.one-click{
	display: none;
}